/** @format */

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card-name {
    color: red;
  }
 
}
.image-item{
  width: 100%;
  height: 270px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; 
}
.shopping-cart-header{
  // display: flex;
  // justify-content: space-between;
  position: relative;
}
.shoping-cart{
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 999;
  background: #000;
  color: #fff;
  right: 0;
  top: 64px;
}
.card-box{
  padding: 0 0 14px;
  background: #fff;
}
.card-img-box{
  width: 100%;
  height: 443px;
  img{
    height: 100%;
    width: 100%;
  }
}